@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/container-queries";

@theme {
  --color-background: #f8fafc;
  --color-surface: #ffffff;
  --color-surface-container: #ffffff;
  --color-surface-container-low: #f1f5f9;
  --color-surface-container-high: #e2e8f0;
  --color-surface-container-highest: #cbd5e1;
  
  --color-on-surface: #0f172a;
  --color-on-surface-variant: #334155;
  --color-secondary: #475569;
  --color-outline: #94a3b8;
  --color-outline-variant: #cbd5e1;
  
  --color-primary: #0284c7;
  --color-primary-container: #e0f2fe;
  --color-on-primary-container: #0369a1;
  --color-on-primary: #ffffff;
  
  --color-accent: #00EDFF;
  --color-accent-dark: #00B1BE;

  --font-headline: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Space Grotesk", sans-serif;

  --radius-DEFAULT: 12px;
  --radius-lg: 16px;
  --radius-xl: 24px;
  --radius-full: 9999px;
}

@layer utilities {
  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-on-surface);
  font-family: var(--font-body);
}
